<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Make Parties</a>


  <div class="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
        {{#if currentUser}}
          <a class="nav-link" href="/me">My Profile</a>
          <a class="nav-link" href="/logout">Logout</a>
        {{else}}
          <a class="nav-link" href="/sign-up">Sign Up</a>
          <a class="nav-link" href="/login">Login</a>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>
