<!-- views/events-new.handlebars -->
<form method="POST" action="/events">
  <legend>New Event</legend>
  {{> events-form }}
  <div class="text-right">
    <a href="/" class='text-muted mr-2'>Cancel</a>
    <button class="btn btn-primary" type="submit">Save Event</button>
  </div>
</form>
