<!-- views/events-new.handlebars -->
<form method="POST" action="/events">
  <legend>New Event</legend>

  {{#if sessionFlash}}
    {{#if sessionFlash.message}}
    <div class="alert fade show alert-dismissible alert-{{sessionFlash.type}}">
      {{sessionFlash.message}}
      <button.close(type='button', data-dismiss='alert', aria-label='Close')      
      <span (aria-hidden='true') style="position: absolute; right: 15px; padding: 0 10px;">X</span>
    </div>
    {{/if}}
  {{/if}}

  {{> events-form }}
  <div class="text-right">
    <a href="/" class='text-muted mr-2'>Cancel</a>
    <button class="btn btn-primary" type="submit">Save Event</button>
  </div>
</form>
