<!-- views/login-form.handlebars -->
<form method="POST" action="/login">
  <legend>Login</legend>
  {{> email-pw }}
  <div class="text-right">
    <a href="/" class='text-muted mr-2'>Go Back</a>
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
