<!-- views/sign-up-form.handlebars -->
<form method="POST" action="/sign-up">
  <legend>Sign Up</legend>
  {{> email-pw }}
  <div class="form-group">
    <label for="password-confirm">Confirm Password</label>
    <input name="password-confirm" type="password" class="form-control" placeholder="Confirm password" />
  </div>

  <div class="text-right">
    <a href="/" class='text-muted mr-2'>Go Back</a>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>
</form>
